@model Album
@{
    ViewData["Title"] = "Edit Album";
}

<form asp-controller="Album" asp-action="EditAlbumRequest" asp-route-id="@Model.AlbumId"
      method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Title">Album title</label>
        <input type="text" asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Artist">Author</label>
        <input type="text" asp-for="Artist" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Song">Song</label>
        <input type="text" asp-for="Song" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Rating">Rating</label>
        <input type="text" asp-for="Rating" class="form-control" />
    </div>

    <input type="hidden" asp-for="AlbumId" />

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-controller="Album" asp-action="Items"
       class="btn btn-primary">Cancel</a>
</form>