@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>See the <a asp-controller="Album" asp-action="Items">Albums</a> for Gunsu Lee (8926937)</p>
</div>
