@using BPMeasurement.Entities
@model List<BloodPressure>
@{ViewData["Title"] = "All Blood Pressure data";
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Reading</th>
            <th>Data Taken</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(BloodPressure bp in Model)
        {
            <tr>
                <td>@bp.Systolic/@bp.Diastolic</td>
                <td>@bp.DateTime</td>
                
                <td>
                    <a href="#">Edit</a>
                    <span class="mx-1">|</span>
                    <a href="#">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>