@model HeartRateMeasurement

@{
    ViewData["Title"] = "Add heart rate measement";
}

<form asp-controller="HeartRate" asp-action="AddNewMeasurement" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="BPMValue">BPM</label>
        <input type="text" asp-for="BPMValue" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MeasurementDate">Date of Measurement</label>
        <input type="datetime" asp-for="MeasurementDate" class="form-control" value="@(Model.MeasurementDate?.ToString("d"))" />
    </div>

    <div class="form-group">
        <label asp-for="Position">Position</label>
        <input type="text" asp-for="Position" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="HeartRate" asp-action="GetAllMeasurements" class="btn btn-primary">Cancel</a>
</form>